<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>P U N S</title>
</head>
<body onload="connect()">

<!--<h3>Actual word preview: <span th:text="${word}"></span></h3>-->

<h3>Word to guess: <span th:text="${game.blindWord}"></span></h3>

<img th:src="@{${game.imageUrl}}" alt="/images/imagenotfound.jpg"/>

<h3>Hints: <th:block th:each="hint : ${game.hintList}">
    <span th:text="${hint}"></span></th:block>
</h3>

<div>
<!--    <form action="/enteredPhrase" method="post" role="form">-->
    <label>Your text:</label><input id="msgToSend" name="msgToSend" th:type="text"><input type="hidden" th:value="${game.id}" id="gameId">
    <button onclick="sendMessage()" type="submit" class="btn btn-warning">Send</button>
    <p id="response"></p>
<!--    </form>-->
</div>
<form action="/newGame" method="post" role="form">
    <button type="submit" class="btn btn-warning">+ New game +</button>
</form>

<div lang="en" th:replace="fragments/footer :: footer"> </div>

<script src="js.js"></script>
<script src="stomp.js"></script>
</body>
</html>